/** @format */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* page 243 */

.main-container {
  width: 408px;
  height: 552px;
  margin: 0 auto;
  background: #f3f6f9;
  border-radius: 6px;
}

.main-section {
  margin: 0 40px 24px 40px;
}

.brand-container {
  padding: 16px 16px 24px 40px;
}

.brand-img {
  margin: 0 auto;
}

.menu,
.cross-ico {
  padding: 8px 0 0 16px;
}
.title {
  font-size: 16px;
  padding: 0 0 6px 0;
  color: #23587b;
}

.budget-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #5b5b5b;
}

.budget-box {
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 102px;
  margin: 10px 0;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.budget-money {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding-top: 14px;
  line-height: 100%;
  text-align: center;
}

.notify-btn {
  width: 328px;
  height: 40px;
  outline: none;
  border: none;
  text-transform: capitalize;
  color: #f3f6f9;
  font-size: 14px;
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff7d36 99.32%);
  box-shadow: 0px 4px 16px rgba(101, 101, 101, 0.12);
  border-radius: 6px;
}

.learn-more {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: #23587b;
}

/* page 269 */

.main-container-269 {
  width: 213px;
  height: 272px;
  margin: 0 auto;
  background: #f3f6f9;
  border: 1px solid #c4d4e2;
  box-shadow: 0px 8px 16px -10px rgba(51, 72, 98, 0.1);
  border-radius: 6px;
}

.brand-container-269 {
  padding: 16px 16px 24px 76px;
}

.brand-img-269 {
  padding-right: 16.5px;
}

.menu-269 {
  padding-right: 8px;
}

.spend-container-269 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 120px;
  height: 58px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.text-secondary-269 {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #5b5b5b;
}

.money-269 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #19b600;
}

.title-269 {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  padding: 16px 0 8px 0;
  text-align: center;
  color: #23587b;
}

.budget-box-269 {
  width: 120px;
  height: 56px;
  margin: 0 auto 20px auto;
  padding: 4.2px;
  background: url(/public/Union.svg);
}

.budget-box-290 {
  width: 172px;
  height: 80px;
  margin: 8px auto 29px auto;
  padding: 6px;
  background: url(/public/budgetBox-1.svg);
}

.budget-rapper {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff9155 99.32%);
  border-radius: 6px 0px 0px 6px;
}

.budget-rapper::after {
  content: url(/public/sideIco.svg);
  position: absolute;
  right: 0;
  top: 0;
}

.budget-rapper > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

/* page 270 */

.main-container-270 {
  height: 642px;
  width: 1170px;
  padding: 0 40px 30px 40px;
  border-radius: 8px;
  margin: 0 auto;
}

.brand-container-270 {
  justify-content: space-between;
  padding: 40px 0 40px 488px;
}

.action {
  gap: 16px;
}

.title-box-270 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 104px;
  background: #eef8ff;
  border: 1px solid #23587b;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.title-270 {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #23587b;
}

.budget-title-270 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  padding: 24px 0 16px 0;
  color: #23587b;
}

.budget-box-270 {
  position: relative;
  width: 533px;
  height: 322px;
  padding: 28px 24px 54px 25px;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.budget-indictor-container-270 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.budget-indicator-270 {
  width: 106px;
  height: 120px;
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff7d36 99.32%);
  border-radius: 0px 0px 8px 8px;
}
/* 271 */
.main {
  background-color: #f3f6f9;
  width: 408px;
  height: 552px;
  border-radius: 6px;
}
.container {
  padding: 0 40px;
}
.logo-271 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin-left: 40%;
}
.menu-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  float: right;
  top: 4px;
  right: 20px;
}
.close {
  position: relative;
  top: 5px;
}
.chart {
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
  padding: 16px;
  margin-top: 16px;
}
.title-271 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #23587b;
  text-align: center;
  padding-bottom: 10px;
}
.bottom {
  display: flex;
  margin-left: 60px;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.overspending {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.bullet {
  width: 8px;
  height: 8px;
  border-radius: 50px;
}
.one {
  background: #23587b;
}
.two {
  background: #ff823e;
}
.text-one {
  color: #23587b;
  font-size: 14px;
}
.text-two {
  color: #ff823e;
  font-size: 14px;
}
.list {
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.number {
  background: #23587b;
  border-radius: 100%;
  color: #fff;
  padding: 2px 5px;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-left: 4px;
}
.des p {
  color: #5b5b5b;
  font-size: 14px;
  padding: 6px 3px 6px 6px;
}
.btn {
  width: 100%;
  height: 40px;
  background: #ff6d1e;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #f3f6f9;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}
.bullet-points {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}
.point {
  width: 6px;
  height: 6px;
  background: #23587b;
  opacity: 0.5;
  border-radius: 50px;
}
.bullet-points .active {
  opacity: 1;
}

/* page 272 */

.banner-272 {
  width: 144px;
  height: 144px;
  object-fit: cover;
  margin: 0 auto 16px auto;
}

.input-272 {
  width: 100%;
  height: 8px;
  margin-bottom: 8px;
  background: #ffffff;
  border: 0.2px solid #b2dff2;
  box-shadow: inset 0px 0px 2px rgba(178, 223, 242, 0.25);
  border-radius: 18px;
}

.text-secondary-272 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #5b5b5b;
}
.text-primary-272 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ff823e;
}
.link-text,
.link-text a {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: #23587b;
}

/* page 273 */

.banner-273 {
  width: 328px;
  height: 194px;
  margin: 16px auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

.text-secondary-273 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ff823e;
}
.text-primary-273 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #23587b;
}

/* page 274 */
.money-box-274 {
  width: 100%;
  height: 72px;
  margin: 16px 0;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.budget-box-274 {
  width: 172px;
  height: 80px;
  margin: 16px auto 24px auto;
  padding: 6px;
  background: url(/public/budgetBox.svg);
}

.budget-rapper-274 {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff9155 99.32%);
  border-radius: 6px 0px 0px 6px;
}

.budget-rapper-274::after {
  content: url(/public/sideIco.svg);
  position: absolute;
  right: 0;
  top: 0;
}

.text-secondary-274 {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #5b5b5b;
}
.text-primary-274 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #23587b;
}
.money-txt-274 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #19b600;
}

/* page 277 */
.progress-box {
  width: 100%;
  height: 160px;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.progress-section {
  padding: 16px 24px;
}

.progress-chart {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: linear-gradient(91.03deg, #23587b -4.95%, #093d60 99.32%),
    linear-gradient(0deg, #ffffff, #ffffff);
  transform: rotate(220deg);
  overflow: hidden;
  position: relative;
}
.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 50%, 100% 0);
}

.empty {
  background: linear-gradient(91.03deg, #ff6d1e -4.95%, #ff7d36 99.32%),
    linear-gradient(0deg, #ffffff, #ffffff);
  transform: rotate(0deg);
  clip-path: polygon(50% 50%, 100% 100%, 100% 0);
  z-index: 0;
}
.yellow-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ff823e;
}

/* 278 */

.main-278 {
  background-color: #f3f6f9;
  width: 408px;
  height: 552px;
  border-radius: 6px;
  padding: 18px 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-row {
  flex-direction: row;
}
.logo {
  width: 110px;
  position: relative;
  left: 100px;
  top: 10px;
}
.close-icon {
  position: relative;
  right: -10px;
  top: 0;
}
.title-278 h2 {
  color: #23587b;
  font-family: "Libre Franklin";
  text-align: center;
  font-size: 18px;
  padding-top: 38px;
  padding-bottom: 24px;
}

.social-row {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 16px;
  padding: 0px 70px;
  width: 328px;
  height: 40px;
  background: #f3f6f9;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}
.icon {
  width: 34px;
}
.social-link a {
  color: #000;
  text-decoration: none;
  font-family: "Libre Franklin";
}
.member {
  font-family: "Libre Franklin";
  color: #5b5b5b;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}
.top-80 {
  position: relative;
  top: 80px;
}
.top-16 {
  position: relative;
  top: 16px;
}
.log-in a {
  color: #23587b;
  font-weight: 600;
  text-decoration: none;
}
/* 281 */
.slider-img {
  margin-top: 12px;
}
.slider-title h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 5px;
  color: #23587b;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #ff823e;
  margin: 0 auto;
}
.w75 {
  width: 75%;
}
.mt-32 {
  margin-top: 32px;
}
/* 284 */
.w90 {
  width: 90%;
}
.w70 {
  width: 70%;
}
/* page 286 */

.limit-container {
  width: 100%;
  height: 84px;
}

.slider-range {
  position: relative;
  width: 100%;
  height: 8px;
  background: #ffffff;
  border: 0.2px solid #b2dff2;
  box-shadow: inset 0px 0px 2px rgba(178, 223, 242, 0.25);
  border-radius: 18px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.value-container {
  margin-top: 16px;
}

.primary-budget {
  font-weight: 400;
  font-size: 12px;
  padding-top: 3px;
  line-height: 100%;
  color: #5b5b5b;
}

.secondary-budget {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ff823e;
}

.total-budget {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  padding-top: 3px;
  color: #5b5b5b;
}

.banner-img {
  width: 100%;
  height: 198px;
  margin-top: 16px;
  background: url(/public/banner.jpg);
  border: 1px solid #e2edfc;
  filter: drop-shadow(0px 2px 8px rgba(11, 50, 71, 0.05));
  border-radius: 8px;
}

/* page 287 */

.market {
  width: 328px;
  height: 40px;
  margin: 14px 0 24px 0;
  padding-left: 16px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  background: #d4edf8;
  border: 1px solid #b2dff2;
  color: #8f8f8f;
  border-radius: 6px;
}

.limit-process {
  width: 100%;
  height: 44px;
}

.slider-range {
  position: relative;
  width: 100%;
  height: 8px;
  background: #ffffff;
  border: 0.2px solid #b2dff2;
  box-shadow: inset 0px 0px 2px rgba(178, 223, 242, 0.25);
  border-radius: 18px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.value-container {
  margin-top: 16px;
}

.primary-budget {
  font-weight: 400;
  font-size: 12px;
  padding-top: 3px;
  line-height: 100%;
  color: #5b5b5b;
}

.secondary-budget {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ff823e;
}

.total-budget {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  padding-top: 3px;
  color: #5b5b5b;
}

.secondary-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #5b5b5b;
}

.remove-btn {
  font-size: 12px;
  color: #ff3e3e;
}

.store-btn {
  width: 328px;
  height: 32px;
  outline: none;
  border: none;
  text-transform: capitalize;
  margin-bottom: 130px;
  background: linear-gradient(91.03deg, #23587b -4.95%, #093d60 99.32%);
  box-shadow: 0px 4px 16px rgba(101, 101, 101, 0.12);
  border-radius: 6px;
}

/* page 288 */

.slider-range-288::before {
  content: url(/public/ball.svg);
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 25px;
}

.slider-range-288 {
  position: relative;
  width: 100%;
  height: 8px;
  background: #ffffff;
  border: 0.2px solid #b2dff2;
  box-shadow: inset 0px 0px 2px rgba(178, 223, 242, 0.25);
  border-radius: 18px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
/* 289 */

.header h2 {
  color: #23587b;
  font-family: "Libre Franklin";
  font-size: 16px;
  font-weight: 500;
}
.close {
  position: relative;
  right: 20px;
}
.go-back {
  position: relative;
  top: 5px;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: #d4edf8;
  border: 1px solid #b2dff2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 13px 16px;
  outline: none;
}
.password {
  margin-top: 14px;
}
.input-field input::placeholder {
  color: #8f8f8f;
}
.input-field input:focus,
.input-field input:active {
  background: #fff;
  border: 1px solid #23587b;
}
.eye {
  position: relative;
  float: right;
  top: -28px;
  right: 16px;
}
.password-strong {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  width: 100%;
  position: relative;
  top: 6px;
  padding-bottom: 8px;
}
.line {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #e5e5e5;
}
.password-strong .active {
  background: #00be33;
}

.check-strong ul li {
  list-style: none;
  color: #5b5b5b;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 0px;
  font-family: "Libre Franklin";
}
.check-strong ul li::before {
  content: url("./public/yellow-circle.svg");
  position: relative;
  padding-right: 8px;
}
.agree-terms {
  display: flex;
  align-items: start;
  font-family: "Libre Franklin";
  font-size: 14px;
  line-height: 19.6px;
  color: #5b5b5b;
  padding-top: 8px;
}
.agree-terms input {
  border: 1px solid #23587b;
  border-radius: 2px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  position: relative;
  top: 4px;
}
.privacy p {
  font-family: "Libre Franklin";
  font-size: 14px;
  line-height: 16.8px;
  color: #5b5b5b;
  padding-top: 8px;
}
.link {
  color: #ff823e;
}
.btn-279 {
  width: 100%;
  height: 40px;
  background: #c2cdd1;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #f3f6f9;
  font-size: 14px;
}
.mt-24 {
  margin-top: 24px;
}

/* page 291 */
.banner-img-291 {
  width: 328px;
  height: 316px;
  margin: 24px 0;
  background: url(/public/banner-1.png);
  border: 1px solid #e2edfc;
  filter: drop-shadow(0px 2px 8px rgba(11, 50, 71, 0.05));
  border-radius: 8px;
}

/* page 292 */

input::placeholder {
  padding: 0 20px;
}

.search {
  width: 328px;
  height: 40px;
  outline: none;
  padding: 0 30px;
  background: #f3f6f9;
  border: 1px solid #c2cdd1;
  border-radius: 6px;
}

.input-field {
  width: 360px;
  margin: 0 -15px;
}

.input-field .search-icon {
  position: relative;
  top: 12px;
  left: 20px;
}

.input-field .controller {
  position: relative;
  top: 12px;
  right: 25px;
}

.user-container {
  width: 100%;
  height: 60px;
  margin: 4px 0;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.user-img-container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.user-img {
  width: 32px;
  height: 32px;
  margin: 14px 8px 14px 14px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  overflow: hidden;
}

.user-name {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 4px;
  line-height: 100%;
  color: #23587b;
}

.user-msg {
  font-weight: 400;
  font-size: 12px;
  padding-top: 4px;
  line-height: 100%;
  color: #5b5b5b;
}

.time {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  padding: 14px 14px 8px 0;
  color: #535860;
}

.active-chat {
  justify-content: center;
  align-items: center;
  width: 14px;
  margin: 0 14px 0 auto;
  height: 14px;
  font-size: 8px;
  font-weight: 400;
  border-radius: 50%;
  color: #ffffff;
  background: #ff823e;
}

/* page 293 */

.user-details {
  width: 328px;
  height: 372px;
  margin: 24px 0 8px 0;
  padding: 0 16px;
  background: #ffffff;
  border: 1px solid #e2edfc;
  box-shadow: 0px 2px 8px rgba(11, 50, 71, 0.05);
  border-radius: 6px;
}

.user-container-293 {
  justify-content: flex-start;
  align-items: center;
}

.arrow {
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  padding: 0 3px 3px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  color: #ffffff;
  background: #ff823e;
}

.user-msg {
  font-weight: 400;
  font-size: 12px;
  padding-top: 8px;
  line-height: 140%;
  color: #5b5b5b;
}

/*  common style */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.gap-40 {
  display: flex;
  gap: 40px;
}
.gap-8 {
  gap: 8px;
}
.pt-32 {
  padding-top: 32px;
}

.py-24 {
  padding-top: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mx-4 {
  margin: 0 40px;
}

.h-auto {
  height: auto;
}
.w-full {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
.text-start {
  text-align: start !important;
}
.fs-2 {
  font-size: 24px;
}
.ps-15 {
  padding-left: 15px;
}
.my-fix {
  margin: 16px 0 44px 0;
}
.center {
  text-align: center;
  line-height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-12 {
  margin: 12px 0;
}
.mb-16 {
  margin-bottom: 16px;
}
.flex-x {
  flex-direction: column;
}
.text-green {
  color: #19b600;
}

.text-red {
  color: #ff3e3e;
}

.text-secondary-270 {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: right;
  color: #5b5b5b;
}

.text-primary-270 {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: right;
  color: #ff3e3e;
}

.gray {
  color: #5b5b5b;
}
.orange {
  color: #ff823e;
}

.text-sm {
  font-size: 14px;
  line-height: 100%;
}
.font-5 {
  font-weight: 500;
}
.font-6 {
  font-weight: 600;
}
.pb-12 {
  padding-bottom: 12px;
}
.p-8 {
  padding: 8px;
}
.top-30 {
  margin-top: 30px;
}
.gap-16 {
  gap: 16px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-24 {
  padding-top: 24px;
}

.flex-center-270 {
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.hr {
  width: 438px;
  height: 1px;
  background-color: #120c3109;
  border: 0 solid #120c31;
}
